.Navbar {
	display: flex; // allows nav items to be moved about
	width: 100%; // span the whole width of the screen
	margin: 0;
	top: 0;
	justify-content: space-around; // this is the trick to making the items work with each other
	align-items: center; // keep them vertically aligned
	min-height: 6vh; // so we dont get tiny items
	background-color: var(--dark-1);

	& a {
		color: var(--light-1);
		text-decoration: none; // no italics or underline for links
	}

	&.Logo {
		color: var(--light-1);
		text-decoration: none;
		letter-spacing: 0.3ch; // space out letters
	}

	& ul {
		& svg {
			fill: var(--accent-1); // the background to the whole navbar
			cursor: pointer;
			margin: 0 auto;
			display: block;
			transition: all 0.25s; // smooth changes to look better
			&:hover {
				fill: var(--accent-2); // change the colour if we hover over it
			}
		}

		&.NavLinks {
			display: flex; // sorts items inside just like the outer one
			padding: 0;
			margin: 10px 0;
			list-style: none;
			justify-content: space-around; // trick in use once again...
			align-items: center;
			width: 25%;
			& li.notButton {
				padding: 0.5rem; // give items space around them
				&:hover {
					background-color: var(--accent-2);
					border-radius: 4px;
					transition: all 0.5s;
				}
			}
		}

		&.NavLeft {
			list-style: none; // remove the default list markers
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 20%;
			margin-right: 5%; // we don't want items right up against each other
		}
	}
	& .SearchBar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%; // we don't want it taking up all the space, come on now

		& input {
			background-color: var(--dark-1);
			border: 0;
			border-bottom: 2px solid var(--accent-1);
			padding: 0.7rem;
			font-size: 15px;
			width: 20rem;
			color: var(--light-1);
			transition: all 0.25s;
			&:focus {
				outline: none;
				width: 22rem;
			}
			&:hover {
				color: var(--light-2);
				cursor: pointer;
			}
		}
		& svg {
			color: var(--accent-1);
			transition: all 0.25s;
			&:hover {
				color: var(--accent-2);
				cursor: pointer;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	// if the screen is less than 600px wide
	.Navbar ul.NavLeft {
		width: 80%; // increase the width of navleft since searchbar is no longer here
	}
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
	.Navbar ul.NavLeft {
		// if the screen is between 800 and 600px then lower the width of these items accordingly
		width: 50%;
	}
	.Navbar ul.NavLinks {
		width: 50%;
	}
}
