.SwapForm {
	color: var(--light-2);
}

.SwapForm div {
	opacity: 0;
	transition: all 1.5s;
	width: 40%;
	margin: auto;
	text-align: center;
	font-size: 12px;
}

.SwapForm.mounted div {
	opacity: 1;
}
