.Sidebar {
	background-color: var(--dark-3); // set the background to the thematic colour
	width: 250px; // we don't want it to be too wide
	height: 100vh;
	display: flex; // magic - allows items to just work inside
	justify-content: center; // align vertically
	position: fixed; // means we can mess around with its place on the page more securely
	z-index: 10; // it will always be at the top, so bring it to the front
	top: 0;
	left: -100%;
	transition: all 0.25s; // smooth its opening. 0.25 is not too slow but not too fast
	& .sidebar-list {
		padding: 0;
		width: 100%;
		width: 80%;
		margin: 20px auto; // items need space from the sides
	}
	&.active {
		left: 0; // if it is active, then bring it forward
	}
	& .sidebar-text {
		display: flex; // magical command
		justify-content: flex-start;
		align-items: center; // aligned
		padding: 8px 16px; // each textbox needs to be a bit wider than the text
		list-style: none; // no annoying default list markers
		height: 50px;
		width: 80%;
		margin: auto;
		& a,
		& div {
			text-decoration: none;
			color: var(--light-1); // set text colour
			font-size: 18px;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 16px;
			border-radius: 4px; // thick border
			transition: all 0.3s ease; // slightly slower than whole bar
			& svg {
				margin: 0;
				fill: var(--accent-2); // fill the colours of the svg
				color: var(--accent-2);
			}
			& span {
				margin: 1.5rem;
			}
			&:hover {
				cursor: pointer;
				background-color: var(--accent-2);
				& svg {
					fill: var(--light-1);
					color: var(--light-1);
				}
			}
		}
		&.bottom {
			position: absolute; // send item to an absolute position
			bottom: 0; // which is at the bottom of the page
			width: 70%;
			padding: 0;
			padding-bottom: 5em;
			padding-left: 1em;
			& div span {
				margin-right: 0;
				font-size: 17px;
			}
		}
		&.accent {
			// an accented version of the link just to make it a bit more interesting
			& a,
			& div {
				background-color: var(--accent-1);
				color: whitesmoke;
			}
			& a {
				&:hover {
					background-color: var(--accent-2);
				}
				& svg {
					fill: whitesmoke;
					color: whitesmoke;
				}
			}
		}
	}
	& .ToggleSidebar {
		// the cross at the top to turn it off
		cursor: pointer;
		margin-bottom: 0.5rem;
		& svg {
			// basic positional and colour stuff:
			margin-left: 2rem;
			margin-top: 1rem;
			fill: var(--accent-2);
			margin-bottom: 1.5rem;
			transition: all 0.25s;
			&:hover {
				// on hover change the colour slightly
				fill: var(--accent-1);
			}
		}
	}
}
